@media (max-width: 767px) {
  .navbar-collapse.collapse{
    background: #333;
  }

 .bg-black {
  background: #232526; 
  background: -webkit-linear-gradient(to left, #232526, #414345); 
  background: linear-gradient(to left, #232526, #414345);
}
.bgGreen{background-color: #54943f}
.bgOrange{
  background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
/*.bgBlue{background-color: #22548c}*/
.bgYellow{background-color: #fbda52}
/*.bgGray{background-color: #eae7dc}*/
.bgGray{
  background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bgLBlue{background-color: #92d2fc}
.bgLPink{background-color: #e387c1}
.bgLGreen{background-color: #73eaaf}
.bgLOrange{background-color: #fb8b8b}


.bgBlue{
 background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e6dada, #274046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e6dada, #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.fw300 {
  font-weight: 300;
}
.fw100 {
  font-weight: 100;
}
.fw700 {
  font-weight: 700;
}
.fw100 {
  font-weight: 100;
}
._mobile-banner {
	width: 100%;
	height: 450px;
	color: #fff;
}
.hi {
  margin-top: 120px;
  color: #fff;
  font-size: 33px;
}
.hi2 h1 {
  font-weight: 300;
      color: #fff;
      margin-bottom: 60px;
      font-size: 16px;
}
.md-slider > nav {
	left: 0;
}
.bigheading {
	color: #fff;
}
.bgBlue {
	color: #fff;
}
.aqil-img , .style-5img{
	width: 100%;
}
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   color: #fff;
    width: 100%;
  }
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
}
.noise.background:before {
  background-image: url(../img/noise-pattern.png) !important;
      background-repeat: repeat;
}
.overlay.background:before {
  background: rgba(0, 0, 0, 0.70);
}
.pgl h3 {
  font-size: 20px;
}
.mh2 {
  font-size: 24px;
    font-weight: 300;
}
._mbfix {
  position: relative;
    margin-bottom: 45px;
}
 ._mbfix  a{
    border:none;
    background: #fff;
    color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
 }
 .wbox img {
  height: 100px;
  margin-bottom: 40px;
 }


.exp-time {
  margin-left: 10px !important;
}

.abutmetext{
 
    position: static !important;
    transform: none !important;
    font-size: 35px !important;
    margin-bottom: 50px !important;
    letter-spacing: 2px !important;
}


.carousel-indicators li {
    width: 60px !important;
    height: 60px !important;
    text-indent: inherit;
}
.carousel-indicators span {
  font-size: 12px;
}

.carousel-caption .btn.btn-theme {
background: none;
    border: none;
    color: var(--theme-color);
    box-shadow: none;
    padding: 0;
    margin-top: -65px;
    font-weight: bold;
}

#bg-art:before,#bg-art:after {

  content: none;
  }

  .svg-front1 {
  
    left: 0;
    z-index: 100;
  
}

.expm {
  margin-top: 100px;
      margin-bottom: -60px;
}

#textHolder {
    position: absolute;
    top: 39px;
    left: 50px;
    width: 300px;
}


}/*media*/

